.row.section.experience
  .col-xs-12.col-md-2.section-title
    section-title(title='Experience' icon-class='fa fa-keyboard-o')
  
  .col-xs-12.col-md-10.content
    ul.main
      include companies/sheen-value.jade
      include companies/code-scalers.jade
      include companies/vireton.jade
      include companies/link-dev.jade
      include companies/code-lab.jade
      
.separator
