.row.section.experience
  .col-xs-12.col-md-2.section-title
    span.hidden-xs.text-right Experience
    span.hidden-sm.hidden-md.hidden-lg.text-left Experience
  
  .col-xs-12.col-md-10.content
    ul.main
      // -----------------------------------------------------------------------
      li.company
        | #[span.bold [Mar. 2016 – Current]: ]
        | #[span.italic Senior Frontend Engineer] at 
        | #[a(href='http://sheenvalue.com/') Sheenvalue]
  
      li.projects
        ul
          li.project
            span.header
              span [Current] 
              a.bold(href='http://www.kernelschools.com/') Kernel: 
            span.description
              | Managing the frontend team to deliver multiple
              | platforms for different user sets, we work on an 
              | #[a(href='https://en.wikipedia.org/wiki/Adaptive_learning') adaptive LMS] 
              | for Kernel where every student has different learning paths to take 
              | and teachers can adapt and customize learning experiences based 
              | on students skills and progress. 
            span.frameworks (HTML5, LESS, Angular/2, ES6, Grunt, Node/Express, Cordova, Ionic, Material Design)

      // -----------------------------------------------------------------------
      li.company
        | #[span.bold [Jun. 2015 – Mar. 2016]: ]
        | #[span.italic Front­end Developer] at 
        | #[a(href='http://www.codescalers.com/') CodeScalers]

      li.projects
        ul
          li.project
            span.header
              span [Jun. 2015 – Mar. 2016] 
              a.bold(href='http://www.awingu.com/') Awingu: 
            span.description
              | Responsible for the frontend apps and portal, design and 
              | implement stable and responsive solutions. 
            span.frameworks (HTML5, SASS, Angular, ES6, Grunt, Node/Express)
            
      // -----------------------------------------------------------------------
      li.company
        | #[span.bold [Aug. 2014 – Dec. 2014]: ]
        | #[span.italic Front­end Developer] at 
        | #[a(href='http://vireton.com/') Vireton]

      li.projects
        ul
          li.project
            span.header
              span [Aug. 2014 – Dec. 2014] 
              a.bold(href='http://zoser.com/') Zoser: 
            span.description
              | Worked as an Angular developer on Zoser intranet app. 
              | And the plan is to rebuild the current web portal.  
            span.frameworks (Angular, LESS, Bootstrap, GoogleMaps)

      // -----------------------------------------------------------------------
      li.company
        | #[span.bold [Feb. 2013 – Aug. 2014]: ]
        | #[span.italic Full Stack Developer] at 
        | #[a(href='http://www.linkdev.com/') LINK Development]

      li.projects
        ul
          li.project
            span.header
              span [Feb. 2013 – Aug. 2014] 
              a.bold(href='http://www.iacad.gov.ae/en/Pages/default.aspx') IACAD: 
            span.description
              | A system that organizes the work processes and flows in 
              | charity organizations in Dubai. It consists of two modules, 
              | an Internet module to support online services for the 
              | organization donors and vendors. And an Intranet module to 
              | control the workflows inside organizations. 
            span.frameworks (HTML5, JS, jQuery, CSS3, ASP.Net, SharePoint 2013, SQL Server, K2)

      // -----------------------------------------------------------------------
      li.company
        | #[span.bold [Jul. – Nov. 2012]: ]
        | #[span.italic Training: Software Engineer] at 
        | #[a(href='http://codelabsys.com/') Codelab]

      li.projects
        ul
          li.project
            span.header
              span [Jul. – Nov. 201￼2] 
              a.bold(href='http://codelabsys.com/products.html') SchoolsEcho: 
            span.description
              | An online school collaboration system; where the school members
              | can interact and discuss their learning issues and share knowledge. 
            span.frameworks (ASP.NET)
          
          li.project
            span.header
              span [Aug. – Sep. 2012] Ensiyab: 
            span.description
              | A software system that automates the process of submitting and 
              | operating business forms in an organization. 
            span.frameworks (ASP.NET)
      
.separator
