.row.section.experience
  .col-xs-12.col-md-2.section-title
    span.hidden-xs.text-right Experience
    span.hidden-sm.hidden-md.hidden-lg.text-left Experience
  
  .col-xs-12.col-md-10.content
    ul.main
      include companies/sheen-value.jade
      include companies/code-scalers.jade
      include companies/vireton.jade
      include companies/link-dev.jade
      include companies/code-lab.jade
      
.separator
