.row.section.technical-skills
  .col-xs-12.col-md-2.section-title
    section-title(title='Technical Skills' icon-class='fa fa-terminal')
  
  .col-xs-12.col-md-10.content
    .container-fluid
      .row
        .col-xs-12.col-sm-6.no-padding
          ul.main
            li
              span.list-title Tools/Frameworks/Languages
            li.sublist
              ul
                li ES6/JS2015 and JSX
                li Angular and Angular-UI
                li ReactJS, React Native
                li jQuery and jQuery-UI
                li Bootstrap, Grid and Components, MaterializeCSS, Material-UI
                li CSS/3, SASS and LESS, Less-hat
                li Font Awesome and Ionic-Icons
                li Lodash and Underscore
                li JSHint and JSCS
                li d3, n3 and ChartJS
                li Graphics: SVG and Canvas
                li NodeJS and Express
                li Grunt and Gulp
                li Package managers: npm and bower
                li WebSockets and Ajax
                li Jasmine, Karma and Selenium
                li Linux and OSX terminals
                li Sublime and Atom
                li Team Foundation Server, Git, Github, Mercurial, BitBucket, SVN
        .col-xs-12.col-sm-6
          
      
      
.separator
