.row.header
  .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.cv-header.no-padding
    .flex-container
      .photo
      .name-wrapper
        .name Amr Abdulrahman
        .title Frontend Engineer
      .save
        button.btn.btn-default.print(ng-click="print()")
          i.fa.fa-print
          span.text Print / Save
