@import (less) "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import (less) "../../node_modules/font-awesome/css/font-awesome.min.css";
@import "../../node_modules/lesshat/lesshat.less";
@import "./print.less";

body {
  background-image: url('../img/tweed.png');
}

.cv-wrapper {
  min-height: ~"calc(100vh - 60px)";
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-top: 15px;
  .box-shadow(0px 1px 5px black);
}

.row.section {
  padding-top: 10px;
  padding-bottom: 10px;

  .title {
    direction: rtl;
    display: inline-block;
    color: gray;
    font-size: 18px;
    font-weight: 300;

    &::first-letter {
      color: black;
      font-weight: 500;
    }
  }

  .content {
    border-left: 1px solid #dedede;
  }
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.separator {
  height: 1px;
  background-color: #d6d6d6;
}

@import "../app/directives/header/header.styles.less";
@import "../app/directives/contacts/contacts.styles.less";
@import "../app/directives/education/education.styles.less";
