span.title-wrapper
  i.hidden-lg.hidden-md(class='{{iconClass}}')
  i.hidden-sm.hidden-xs.center(class='{{iconClass}}')
  span.title.hidden-xs.hidden-sm.text-center(ng-bind='title')
  span.title.hidden-md.hidden-lg.text-left(ng-bind='title')
