li.company
  | #[span.bold [Jul. – Nov. 2012]: ]
  | #[span.italic Training: Software Engineer] at 
  | #[a(href='http://codelabsys.com/') Codelab]

li.projects
  ul
    li.project
      span.header
        span [Jul. – Nov. 201￼2] 
        a.bold(href='http://codelabsys.com/products.html') SchoolsEcho: 
      span.description
        | An online school collaboration system; where the school members
        | can interact and discuss their learning issues and share knowledge. 
      span.frameworks (ASP.NET)
    
    li.project
      span.header
        span [Aug. – Sep. 2012] Ensiyab: 
      span.description
        | A software system that automates the process of submitting and 
        | operating business forms in an organization. 
      span.frameworks (ASP.NET)
