li.company
  | #[span.bold [Jun. 2015 – Mar. 2016]: ]
  | #[span.italic Front­end Developer] at 
  | #[a(href='http://www.codescalers.com/') CodeScalers]

li.projects
  ul
    li.project
      span.header
        span [Jun. 2015 – Mar. 2016] 
        a.bold(href='http://www.awingu.com/') Awingu: 
      span.description
        | Responsible for the frontend apps and portal, design and 
        | implement stable and responsive solutions. 
      span.frameworks (HTML5, SASS, Angular, ES6, Grunt, Node/Express)
