li.company
  | #[span.bold [Feb. 2013 – Aug. 2014]: ]
  | #[span.italic Full Stack Developer] at 
  | #[a(href='http://www.linkdev.com/') LINK Development]

li.projects
  ul
    li.project
      span.header
        span [Feb. 2013 – Aug. 2014] 
        a.bold(href='http://www.iacad.gov.ae/en/Pages/default.aspx') IACAD: 
      span.description
        | A system that organizes the work processes and flows in 
        | charity organizations in Dubai. It consists of two modules, 
        | an Internet module to support online services for the 
        | organization donors and vendors. And an Intranet module to 
        | control the workflows inside organizations. 
      span.frameworks (HTML5, JS, jQuery, CSS3, ASP.Net, SharePoint 2013, SQL Server, K2)
