li.company
  | #[span.bold [Mar. 2016 – Current]: ]
  | #[span.italic Senior Frontend Engineer] at 
  | #[a(href='http://sheenvalue.com/') Sheenvalue]

li.projects
  ul
    li.project
      span.header
        span [Current] 
        a.bold(href='http://www.kernelschools.com/') Kernel: 
      span.description
        | Managing the frontend team to deliver multiple
        | platforms for different user sets, we work on an 
        | #[a(href='https://en.wikipedia.org/wiki/Adaptive_learning') adaptive LMS] 
        | for Kernel where every student has different learning paths to take 
        | and teachers can adapt and customize learning experiences based 
        | on students skills and progress. 
      span.frameworks (HTML5, LESS, Angular/2, ES6, Grunt, Node/Express, Cordova, Ionic, Material Design)
