li.company
  | #[span.bold [Aug. 2014 – Dec. 2014]: ]
  | #[span.italic Front­end Developer] at 
  | #[a(href='http://vireton.com/') Vireton]

li.projects
  ul
    li.project
      span.header
        span [Aug. 2014 – Dec. 2014] 
        a.bold(href='http://zoser.com/') Zoser: 
      span.description
        | Worked as an Angular developer on Zoser intranet app. 
        | And the plan is to rebuild the current web portal.  
      span.frameworks (Angular, LESS, Bootstrap, GoogleMaps)
