.row.section.education
  .col-xs-12.col-md-2.section-title
    section-title(title='Education' icon-class='fa fa-graduation-cap')
  
  .col-xs-12.col-md-10.content
    ul.main
      li
        p 
          | #[span.bold [2008-2012] BSc in Computer Science:]​ 
          | Faculty of Computers and Information Science, 
          | Ain-Shams University, Total Grade: #[span.bold.italic Very Good], 
          | Graduation Project Grade: #[span.bold.italic Excellent].
          
      li
        p 
          | #[span.bold [2007-2008]​ ​GCSE​:]​ Tabari Sheraton School, 
          | #[span.bold Math Section]​, Total Grade: #[span.bold 94%]
      
.separator
