doctype html
html(lang='en' ng-app='cvApp')
  head
    title Amr Abdulrahman
    link(rel='stylesheet' href='css/app.css')
    link(rel='icon' href='img/cv.png' type='image/x-icon')
  body(ng-controller='AppCtrl')
    #non-printable.container-fluid
      // header
      header
      
      // body
      .row
        .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.cv-wrapper.no-padding
          .container-fluid
            contacts
            education

    #printable
      .container-fluid
        header
        contacts
        education
          
    script(type='text/javascript' src='app.js')
    script(type='text/javascript' src='//localhost:35729/livereload.js')
    iframe(name='print_frame' width='0' height='0' frameborder='0' src='about:blank')
